<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />

  <title>ZIA</title>
</head>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    // URL da API
    const apiUrl = "http://127.0.0.1:1880/maquinas/4";

    // Fazer a requisição à API
    fetch(apiUrl)
      .then(response => response.json())
      .then(data => {
        // Obter o dropdown
        const dropdown = document.querySelector(".select-dd");

        // Limpar as opções atuais, exceto a primeira
        dropdown.innerHTML = '<option value="0">Informe o motivo de parada:</option>';

        // Preencher o dropdown com os motivos de parada da máquina "Empacotadora RZ"
        if (data.stopreasons && data.stopreasons.stopReasons) {
          data.stopreasons.stopReasons.forEach(reason => {
            const option = document.createElement("option");
            option.value = reason; // Usando o próprio motivo como valor
            option.textContent = reason;
            dropdown.appendChild(option);
          });
        } else {
          console.error("Não foram encontrados motivos de parada para a máquina especificada.");
        }


        const machine_name = document.querySelector(".machine-name");
        if (data.stopreasons) {
          const name = data.stopreasons.name
          machine_name.innerHTML = name
        } else {
          {
            console.error("Erro de configuracao de maquina - Esta maquina na existe");
          }
        }




      })



      .catch(error => {
        console.error("Erro ao buscar dados:", error);
      });
  });
</script>




<body style="background-image: url('background.webp');">
  <header class="header">
    <div style="display: flex; align-items:center; ">
      <img style="height: 36px;" src="logo.webp" alt="">
    </div>
    <nav>
      <ul class="menu">
      </ul>
    </nav>
  </header>
  <section style="padding-top: 100px; color:white;">Anotação de Paradas</section>

  <section>
    <div style="border: solid 1px; margin-bottom: 10px; background-color: lightgray; border-radius: 10px;">
      <p class="machine-name"></p>
      <div class="div-status">
        <p>Status Atual: Parado</p>
      </div>
    </div>
    <div class="div-regstop">
      <div style="display: none;">
        <p>ID Registro:</p>
        <div>1234</div>
      </div>
      <div>
        <p>Tempo de Maquina Parada:</p>
        <div>12min10s</div>
      </div>
      <div>
        <p>Hora de Inicio:</p>
        <div>12:30</div>
      </div>
      <div>
        <p>Hora de Fim:</p>
        <div>12:35</div>
      </div>

      <select class="select-dd">
        <option value="0">Informe o motivo de parada:</option>

      </select>

      <button class="bt-informa"> Justificar</button>

    </div>




  </section>

</html>